.container {
  display: flex;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 30%;
}

.col-3-flex {
  display: flex;
  margin-top: -5px;
}

.col-3-flex section {

}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding: 10px;
  padding-top: 20px;
}

[class*='col-']:last-of-type {
  // ...
}

@media all and (max-width: 600px) {
  [class*='col-'] {
    width: 100%;
  }
}
