/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
  margin: 0 auto;
  font-family: $serif;
  font-size: 12px;
}

button {
	background-color: #5c7aaa;
	border-color: solid black 1px;
	color: white;
	font-weight: 800;
	padding: 8px;
	border-radius: 8%;
	transition: background-color 1s;
  transition: border-color 1s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

button:hover {
	background-color: darkblue;
	border-color: darkblue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

.hidden {
  display: none;
}
