<div class="container">

  <div class="col-1">

    <h1 class = "hover-links"><a>Launching the New React/Redux Curriculum</a></h1>
    <figcaption> BY APP ACADEMY INSTRUCTIONAL TEAM</figcaption>
    <ul class = 'main-lists'>

      <li class = "double-spaced"> It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li><br>

      <li class = "double-spaced">The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li><br>
    </ul>

    <a class = "comment-link hover-links">1738 Comments</a>

  </div>

  <div class="col-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe><br><br>
    <p>Warning: This video will make you want to change your career</p>
    <hr>

    <section>
      <h3 class = "sub-heading hover-links"><a>Where Are They Now?</a></h3>
      <figcaption>By APP ACADEMY ALUMNI</figcaption>
      <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
    </section>
    <hr>

    <section>
      <h3 class= "no-underline-heading">Cat Academy</h3>
      <figcaption>By APP ACADEMY DIRECTOR OF PRODUCTS</figcaption>
      <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
    </section>

  </div>

  <div class="col-3">
    <h2>The Opinion Pages</h2>
    <div class="col-3-flex">

      <section class ="first-col">
        <p class = "top-col">Op-Ed Contributor</p>
        <h3 class = "sub-heading hover-links"><a>Will Javascript ever be as easy as Ruby?</a></h3>
        <p class = "double-spaced">Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
        <ul class = 'main-lists bold-list'>
          <li>Torvalds: When I Was Almost Wrong</li>
          <li>Knuth: Art of Programming</li>
          <li>Lovelace: The First Algorithm</li>
          <li>Hopper: The First Bug</li>
          <li>Thompson: Go C Unix</li>
          <li>Carmack: My Virtual Reality</li>
          <li>Stallman: Free Speech Not Free Coffee</li>
        </ul>
      </section>

      <section>
        <p class = "top-col">Operations</p>
        <h3 class= "no-underline-heading">App Academy New York Has A Brand New Office</h3>
        <figcaption>By NY OPERATIONS</figcaption>

        <p class = "double-spaced">The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>

        <div class="thumbnail">
          <img src="assets/new_office.jpeg" alt="">
        </div>

        <h3 class = 'no-underline-heading small-heading'>Opinion Today, in your Inbox</h3> <p class = "double-spaced">Each weekday, get though-provoking commentary from our columnists and contributors.</p>
      </section>

    </div>

    <section>
      <form class="" action="index.html" method="post">
        <input type="text" name="" value="" placeholder = "Get the Opinion newsletter by email" >
        <button class = "signup-button">Sign Up</button>
      </form>
      <p class = "subtitle">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
    </section>
  </div>

</div>
