<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
  <nav class ='right-nav'>
    <ul>
      <li><button type="button">Subscribe Now</button></li>
      <li><button class = "second-button" type="button">Log In</button></li>
      <li id="gear-dropdown-btn"><i class="fa fa-cog" aria-hidden="true"></i>
        <%= render partial: 'shared/gear_dropdown' %>
      </li>
    </ul>
  </nav>
</header>
