<div class="masthead">
  <nav class= "language-nav">
    <ul>
      <li><a class='masthead-links'>CSS</a></li>
      <li><a class='masthead-links'>HTML</a></li>
      <li><a class='masthead-links'>Javascript</a></li>
      <li><a class='masthead-links'>Ruby</a></li>
    </ul>
  </nav>

  <img class = 'logo' src="assets/AA_Times_Logo.png" alt=""/>


  <nav class='date-nav'>
    <ul>
      <li><a class='masthead-links border-left date-nav-first'>Tuesday, October 18, 2016</a></li>
      <li class = "font-lis"> <a class='masthead-links border-left'> <i class="fa fa-newspaper-o" aria-hidden="true"></i> Today’s Paper </a> </li>
      <li class = "font-lis"><a class='masthead-links border-left'> <i class="fa fa-video-camera" aria-hidden="true"></i> Video </a> </li>
      <li><a class='masthead-links border-left'>77°F</a></li>
      <li><a class='masthead-links border-left'>AAO <span class = "percent">+100%</span></a></li>
    </ul>
  </nav>

</div>
