<div class="location-div">
<nav class="location-nav">
<ul>
  <li class = "masthead-links"><a>World</a></li>
  <li class = "masthead-links"><a>San Francisco</a></li>
  <li class = "masthead-links"><a>New York</a></li>
  <li class = "masthead-links"><a>Bootcamp Prep</a></li>
  <li class = "masthead-links"><a>Jumpstart</a></li>
  <li class = "masthead-links"><a>Online</a></li>
  <li class = "masthead-links"><a>Marketing</a></li>
  <li class = "masthead-links"><a>Sales</a></li>
  <li class = "masthead-links"><a>TalentMatch</a></li>
  <li class = "masthead-links"><a>Alumni</a></li>
  <li class = "masthead-links"><a>All</a></li>
</ul>
</nav>
</div>
