// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown-btn {
  position: relative;
}

#gear-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  padding: 10px;
  border: solid 1px $gray;
  z-index: 5;
  width: 150px;
  text-transform: uppercase;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

#gear-dropdown li ul li {
  padding: 5px 0px;
}

.editions {
  border-bottom: 1px solid $gray;
}

.help li a {
  color: #5c7aaa;
  font-family: $sans-serif;
  font-size: 12px;
  padding-left: 10px;
}

.editions li a {
  color: $gray;
  font-family: $sans-serif;
  font-size: 12px;
  margin-left: 5px;
  padding-left: 5px;
}

.help li a:hover {
  text-decoration: underline;
}

.editions li:hover {
  background-color: $light-gray;
  border-radius: 5%;
}

.dropdown-subtitle {
  font-weight: 800;
  font-size: 10px;
  color: $dark-gray;
  font-family: $sans-serif;
  padding-left: 10px;
}
