h1, h2, h3, h1 a, h2 s, h3 a {
  font-weight: bold;
  // text-decoration: underline;
}

h1 a {
  font-size: 22px;
  font-style: italic;
  padding-bottom: 5px;
}

.main-lists {
  list-style: initial;
  margin-left: 15px;
}

.main-lists li {
  font-size: 12px;
  line-height: 1.5
}

.comment-link {
  color: #5c7aaa
}

.hover-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

figcaption {
  color: $gray;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 8px;
}

hr {
  width: 45%;
}

input[type="text"] {
  border: 2px solid $light-gray;
  border-right: 0;
  width: 76%;
  padding: 4px;
  padding-left: 10px;
  border-right: 0;
  font-size: 14px;
}

.signup-button {
  margin-left: -3px
}

.col-3 h2 {
  text-align: center;
  text-decoration: none;
  margin-top: 0
}


.no-underline-heading {
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

.thumbnail {
  height: 150px;
  width: 170px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-col {
  margin-right: 10px;
}

strong {
  font-weight: bold;
}

.bold-list li, {
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
  line-height: 1
}

.top-col {
  text-transform: uppercase;
  font-size: 12px;
}

.subtitle {
  color: $gray;
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}

.double-spaced {
  line-height: 1.3
}

.small-heading {
  font-size: 14px
}

p {
  font-size: 12px
}

.sub-heading {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

  @media all and (max-width: 600px) {
    .location-nav {
      display: none
    }
  }
