.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav > ul > li {
  align-items: baseline;
  font-family: $serif;
  font-size: 14px;
  text-transform: background-color 1s;
}

.right-nav > ul > li {
  margin-left: 5px;
  align-items: baseline;
  font-family: $serif;
  font-size: 14px;
  text-transform: background-color 1s;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: 10px;
}


.right-nav i {
  margin: 5px;
  font-size: 18px;
}
