.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
  border-top: 1px solid $light-gray;
}

.language-nav {
	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}


.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
}

.language-nav ul li {
  margin-bottom: 3px;
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	// border-right: 1px solid $light-gray;
}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}

.border-left {
  border-left: 1px solid $light-gray;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.date-nav-first  {
  border-left: 0 ;
}

.date-nav ul{
  display: flex;
}

.date-nav ul li {
  // margin-left: 15px;
  // border-left: 1px solid $light-gray;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-newspaper-o {
  font-size: 8px;
  justify-content: center;
  margin-right: 5px;
}

.font-lis {
  display: flex;
  align-items: baseline;
}

.percent {
  color: green;
  font-size: inherit;
}

.fa {
  font-size: 12px !important ;
}
