.location-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid $light-gray;
	position: relative;
  margin: 0 auto;

}
.location-nav {
	position: static;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
  border-left: 0;
  border-right:0;
}

.location-nav a {
	margin: 0 5px;
	text-transform: capitalize;
	font-family: $sans-serif;
	font-size: 12px;
	color: $dark-gray;
}

.location-nav ul {
	display: flex;
}
.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	// border-right: 1px solid $light-gray;
}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links:hover {
	background-color: $lightest-gray;
  text-decoration: underline;
  cursor: pointer;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
